

.item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.item label {
  font-size: 1.25rem;
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  accent-color: #e5771f;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.delete-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  display: block;
}
